services: 

  nginx:
    build:
      context: nginx
    container_name: nginx
    networks: 
      - node-network
    tty: true
    ports: 
      - "8080:80"
    depends_on: 
       - app

  app:
    build: 
      context: node
    container_name: app
    networks: 
      - node-network
    volumes: 
      - ./node:/usr/src/app
      - /usr/src/app/node_modules      
    tty: true
    ports: 
      - "3000:3000"
    depends_on: 
       - db

  db:
    build: 
      context: mysql
    command: --innodb-use-native-aio=0
    container_name: db
    restart: always
    tty: true
    volumes: 
      - ./mysql_data:/var/lib/mysql
    networks: 
      - node-network

networks: 
  node-network:
    driver: bridge      
